/* purgecss start ignore */
/* app global css */
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-200.woff2);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-500.woff2);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-600.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-700.woff2);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  font-display: optional;
  src: url(../assets/fonts/roboto/roboto-v50-latin-800.woff2);
  font-style: normal;
  font-weight: 800;
}

:root * {
 /* --bg: #faf9f7;
  --bg-alt: #ffffff;

  --text: #1e1e1e;
  --text-muted: #6f6f6f;*/

  /* Darker primary gradient */
  /*--primary: #c3af87;
  --primary-dark: #a99774;*/
  --primary-gradient: linear-gradient(135deg, #d7c7a3, #b8a27b);
    --q-accent: #ffffff;
    --q-secondary: #5a4c49;
    --q-primary: #b8a27b;
  /*--accent: #e8c8c0;
  --accent-dark: #d1a89f;

  --radius: 18px;
  --card-shadow: 0 8px 28px rgba(0,0,0,0.06);*/
}


body{
  color: var(--q-secondary);
  /*scroll-behavior: smooth;*/
}
/* If the scroll is NOT prevented, the backdrop MUST NOT exist */
body:not(.q-body--prevent-scroll) .q-drawer__backdrop[style="background-color: rgba(0, 0, 0, 0);"] {
  pointer-events: none !important;
  opacity: 0 !important;
}
.screen-reader-text {
    position: absolute;
    visibility: hidden;
    top: -999999px;
    left: -999999px;
    pointer-events: none;
}
img.q-img__image {
    width: 100%;
}
.no-decoration {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  column-gap: 15px;
}
.nav-bar a {
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease;
}
.nav-bar a.router-link-exact-active {
  color: var(--q-secondary);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.6s ease, transform 0.4s ease-out;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.q-item.q-router-link--active {
  color: inherit;
}
.q-item.q-router-link--exact-active {
  color: var(--q-primary);
}
body section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.offline-item {
  position: relative;
}

.offline-item:before {
    content: 'Offline item - will be added automatically when back online';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #fff;
    left: 0;
    top: 0;
}
/* AI chat assistant */
.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.chat-message.user {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.bubble {
  background-color: #e0f7fa;
  padding: 8px 12px;
  border-radius: 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chat-message.bot .bubble {
  background-color: #f1f1f1;
}

.chat-container {
  width: 70vw;
  max-width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.chat-scroll-area {
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.rotate-fade-enter-active,
.rotate-fade-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.rotate-fade-enter-from,
.rotate-fade-leave-to {
  transform: rotate(-90deg);
  opacity: 0;
}

.rotate-fade-enter-to,
.rotate-fade-leave-from {
  transform: rotate(0deg);
  opacity: 1;
}
/********/

i.q-icon.on-left.notranslate.material-icons {
    margin-right: 3px;
}
.q-badge.flex.inline.items-center.no-wrap.q-badge--single-line.bg-red.q-badge--floating {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.item-loop-wl.absolute {
    z-index: 1;
    right: 7px;
}

.item-loop-wl.absolute span.q-btn__content i {
    background: #f6f2e7;
    border: 1px solid var(--q-primary);
    border-radius: 50%;
    padding: 2px;
    transition: 0.3s ease;
    width: 28px;
    height: 28px;
}
.item-loop-wl.absolute span.q-btn__content i svg {
    width: 20px;
    height: 20px;
    fill: var(--q-primary)
}

.q-carousel {
    padding-bottom: 30px;
  position: relative;
}
.q-carousel__control.absolute:not(.q-carousel__navigation) {
    top: 38%;
    background: #fff;
    bottom: unset;
    border-radius: 50%;
}
.q-carousel__control.absolute.absolute-left.flex.items-center {
    left: 10px;
}
.q-carousel__control.absolute.absolute-right.flex.items-center {
    right: 10px;
}
.q-carousel__slide .row.justify-between {
    padding: 5px;
}

.q-carousel__navigation-inner.flex.flex-center.no-wrap {
    column-gap: 10px;
}
.q-carousel__control.q-carousel__navigation.no-wrap.absolute.flex {
    width: 100%;
    justify-content: center;
}
.q-tabs.q-tabs--scrollable.q-tabs--horizontal {
    overflow: auto;
}

@media (max-width: 767px) {
    body section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
/* purgecss end ignore */