/* app global css */
@font-face {
  font-family: Roboto;
  font-display: swap;
}

:root * {
 /* --bg: #faf9f7;
  --bg-alt: #ffffff;

  --text: #1e1e1e;
  --text-muted: #6f6f6f;*/

  /* Darker primary gradient */
  /*--primary: #c3af87;
  --primary-dark: #a99774;*/
  --primary-gradient: linear-gradient(135deg, #d7c7a3, #b8a27b);
    --q-accent: #ffffff;
    --q-secondary: #5a4c49;
    --q-primary: #b8a27b;
  /*--accent: #e8c8c0;
  --accent-dark: #d1a89f;

  --radius: 18px;
  --card-shadow: 0 8px 28px rgba(0,0,0,0.06);*/
}


body{
  color: var(--q-secondary);
  /*scroll-behavior: smooth;*/
}

.screen-reader-text {
    position: absolute;
    visibility: hidden;
    top: -999999px;
    left: -999999px;
    pointer-events: none;
}

.no-decoration {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  column-gap: 15px;
}
.nav-bar a {
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease;
}
.nav-bar a.router-link-exact-active {
  color: var(--q-secondary);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.6s ease, transform 0.4s ease-out;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.q-item.q-router-link--active {
  color: inherit;
}
.q-item.q-router-link--exact-active {
  color: var(--q-primary);
}
body section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
    body section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}